<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="youbot_arm_gazebo" params="name">

		<gazebo reference="${name}_link_0">
			<material value="youbot/DarkGrey" />
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

		<gazebo reference="${name}_link_1">
			<!--<material value="youbot/Orange" />-->
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

		<gazebo reference="${name}_link_2">
			<!--<material value="youbot/Orange" />-->
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

		<gazebo reference="${name}_link_3">
			<!--<material value="youbot/Orange" />-->
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

		<gazebo reference="${name}_link_4">
			<!--<material value="youbot/Orange" />-->
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

		<gazebo reference="${name}_link_5">
			<!--<material value="youbot/DarkGrey" />-->
			<turnGravityOff>false</turnGravityOff>
			
		</gazebo>

	</xacro:macro>

</robot>
