<?xml version="1.0" ?>
<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find open_manipulator_description)/urdf/open_manipulator.urdf.xacro'"/>

    <!-- send joint values -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui">
        <param name="use_gui" value="TRUE"/>
        <!--<rosparam param="source_list">["robotis/real_joint_states"]</rosparam>-->
    </node>

    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node name="open_fkine_node" pkg="lab05_example" type="lab05_example.py" output="screen"/>
  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_description)/rviz/open_manipulator_links_hidden.rviz"/>
</launch>
